---
import { sendBasePricingMessage, sendMediumPricingMessage } from '../scripts/wpp';

const basePricingMessageUrl = sendBasePricingMessage();
const mediumPricingMessageUrl = sendMediumPricingMessage();

const priceboxes = [
  {
    popular: false,
    packageName: 'Landing Page',
    price: '100.00',
    subtitle: 'Ideal para proyectos simples',
    btn: 'Contratar ahora',
    purchaseLink: basePricingMessageUrl,
    offerlist: [
      { title: 'Diseño moderno y responsive' },
      { title: 'Optimizada para SEO básico' },
      { title: 'Hasta 1 página principal' },
      { title: 'Soporte gratis por 30 días' },
      { title: 'Hasta 2 cambios gratis en su producto' },
    ],
  },
  {
    popular: true,
    packageName: 'Página Web Profesional',
    price: '200.00',
    subtitle: 'Perfecta para pequeñas empresas',
    btn: 'Contratar ahora',
    purchaseLink: mediumPricingMessageUrl,
    offerlist: [
      { title: 'De 3 a 7 páginas' },
      { title: 'Diseño personalizado' },
      { title: 'Integración con redes sociales' },
      { title: 'Soporte gratis por 60 días' },
      { title: 'Hasta 3 cambios gratis en su producto' },
    ],
  },
  {
    popular: false,
    packageName: 'Solución Completa',
    price: 'Personalizado',
    subtitle: 'Para proyectos más avanzados',
    btn: 'Contáctanos',
    purchaseLink: '#contact', // Enlace a la sección de contacto
    offerlist: [
      { title: 'Aplicaciones web o móviles' },
      { title: 'Software a medida' },
      { title: 'Diseño y desarrollo personalizados' },
      { title: 'Soporte gratis por 90 días' },
      { title: 'Hasta 5 cambios gratis en su producto' },
    ],
  },
];
---

<!-- ====== Pricing Section Start -->
<section
  id="pricing"
  class="relative z-20 overflow-hidden bg-white pb-12 pt-20 dark:bg-dark lg:pb-[90px] lg:pt-[120px]"
>
  <div class="container">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div class="mx-auto mb-[60px] max-w-[510px] text-center">
          <span class="mb-2 block text-lg font-semibold text-primary">Planes a tu medida</span>
          <h2
            class="mb-3 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]"
          >
            Precios claros y competitivos
          </h2>
          <p class="text-base text-body-color dark:text-dark-6">
            En <strong>MatiTech</strong>, ofrecemos soluciones digitales adaptadas a cada necesidad
            y presupuesto. Elige el plan que mejor se ajuste a tus objetivos y comienza a impulsar
            tu negocio hoy mismo.
          </p>
        </div>
      </div>
    </div>

    <div class="-mx-4 flex flex-wrap justify-center">
      {
        priceboxes.map((pricebox) => (
          <div class="w-full px-4 md:w-1/2 lg:w-1/3">
            <div
              class={`wow fadeInUp relative z-10 mb-10 overflow-hidden rounded-xl bg-white px-8 py-10 shadow-pricing dark:bg-dark-2 sm:p-12 lg:px-6 lg:py-10 xl:p-14`}
              data-wow-delay=".15s"
            >
              {pricebox.popular && (
                <p class="absolute right-[-50px] top-[60px] inline-block -rotate-90 rounded-bl-md rounded-tl-md bg-secondary px-5 py-2 text-base font-medium text-white">
                  La más popular
                </p>
              )}

              <span class={`mb-5 block text-xl font-medium text-dark dark:text-white`}>
                {pricebox.packageName}
              </span>
              <h2 class="mb-11 text-4xl font-semibold text-dark dark:text-white xl:text-[42px] xl:leading-[1.21]">
                <span class="text-xl font-medium">$</span>
                <span class="ml-1 -tracking-[2px]">{pricebox.price}</span>
              </h2>

              <div class="mb-[50px]">
                <h5 class="mb-5 text-lg font-medium text-dark dark:text-white">
                  {pricebox.subtitle}
                </h5>

                <div class="flex flex-col gap-[14px]">
                  {pricebox.offerlist.map((item) => (
                    <p class={`text-base text-body-color dark:text-dark-6`}>{item.title}</p>
                  ))}
                </div>
              </div>

              <a
                href={pricebox.purchaseLink}
                class={`inline-block rounded-md bg-primary px-7 py-3 text-center text-base font-medium text-white transition hover:bg-secondary`}
              >
                {pricebox.btn}
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
<!-- ====== Pricing Section End -->
